.parentdiv {
  /* background-image: url("../../Assets/mainbg.jpg"); */
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 110vh;
  width: 100%;
  overflow: hidden !important;
}
.firsttagline {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
  text-shadow: 0 0 8px #00f7ff;
}
.secondtagline {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
  text-shadow: 0 0 8px #00f7ff;
}
.Headlinediv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px){
  .firsttagline ,.secondtagline{
    font-size: 1.3rem;
    text-align: center;
  }
  .Headlinediv{
    gap: 10px;
    position: relative;
    top: 60px;
  }
  .parentdiv .navbarbtn{
    position: relative;
    top: 20px;
  }
}