.navtitle {
  font-family: "Inter", sans-serif;
  position: relative;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navtitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #00f7ff, #00ffb3);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
  border-radius: 2px;
  box-shadow: 0 0 8px #00f7ff88;
}

.navtitle:hover {
  color: #00f7ff;
  text-shadow: 0 0 5px #00f7ff, 0 0 10px #00f7ff;
}

.navtitle:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbarbtn {
  background-color: #1f1f1f !important;
  position: relative;
  left: -15px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px dashed #333;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbarbtn:hover {
  background-color: #343434;
  transform: scale(1.05);
}

.btnarrowimg {
  height: 16px;
  width: 20px;
  transition: transform 0.3s ease;
}

.navbarbtn:hover .btnarrowimg {
  transform: translateX(5px);
}

.navbarbtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #00f7ff, #00ffb3);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
  border-radius: 2px;
  box-shadow: 0 0 8px #00f7ff88;
}

.navbarbtn:hover {
  color: #00f7ff;
  text-shadow: 0 0 5px #00f7ff, 0 0 10px #00f7ff;
}

.navbarbtn:hover::after {
  transform-origin: left;
}

@media (max-width: 768px){
 .justify-content-end .navbarbtn{
  display: none;
 } 
}